@model IEnumerable<CreativeTours.Models.Tour>
@using CreativeTours.Models
@{

    IQueryable<CreativeTours.Models.TourListViewModel> model2 = ViewBag.searchmodel;

}



@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Tour Search</h2>
<p class="text-center">
    @*<button type="button" class="btn btn-success .btn-md"> @Html.ActionLink("Create New Tour", "Create")</button>*@

    <a href="@Url.Action("Create", "Tours")" class="btn btn-success">
        Create New Tour
        <span class="glyphicon glyphicon-plus-sign" />
    </a>



</p>

<form method="get" class="text-center">

    <input type="search" name="searchTerm"/>
    <input type="submit" value="Search By Tour Name"/>
</form>




@foreach (var item in model2)
{

    <div class="review">
        <h4>@item.Name</h4>
        <div>
            City: @item.City <br />
            Country: @item.Country


        </div>

        <div>
            Reviews: @item.CountOfReviews
        </div>
        @Html.ActionLink("Reviews", "Index", "Reviews", new { id = item.Id }, null)
        <hr />

    </div>


}


<h2 class="text-center">Tour Table </h2>





<p class="text-center">
    @*<button type="button" class="btn btn-success .btn-md"> @Html.ActionLink("Create New Tour", "Create")</button>*@
    <a href="@Url.Action("Create", "Tours")" class="btn btn-success">
        Create New Tour
        <span class="glyphicon glyphicon-plus-sign" />
    </a>
</p>







<table class="table" id="data2">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @*<button type="button" class="btn btn-warning .btn-md">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </button>*@
                <a href="@Url.Action("Edit", "Tours", new { id = item.Id })" class="btn btn-warning">
                    Edit
                    <span class="glyphicon glyphicon-edit" />
                </a>




                @*<button type="button" class="btn btn-info .btn-md">
                    @Html.ActionLink("Reviews", "Index", "Reviews", new {id = item.Id}, null)
                </button>*@

                <a href="@Url.Action("Index", "Reviews", new { id = item.Id })" class="btn btn-info">
                    Reviews
                    <span class="glyphicon glyphicon-asterisk" />
                </a>






                @*<button type="button" class="btn btn-danger .btn-md">@Html.ActionLink("Delete", "Delete", new {id = item.Id})</button>*@

                <a href="@Url.Action("Delete", "Tours", new { id = item.Id })" class="btn btn-danger">
                    Delete
                    <span class="glyphicon glyphicon-minus-sign" />
                </a>




            </td>
        </tr>
    }

</table>



