@model IEnumerable<CreativeTours.Models.TourReview>

<table class="table" id="data3">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ReviewerName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.VisitedOn)
        </th>


        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitedOn)
            </td>
            <td>
                @*<button type="button" class="btn btn-warning .btn-md">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </button>*@

                <a href="@Url.Action("Edit", "Reviews", new { id = item.Id })" class="btn btn-warning">
                    Edit
                    <span class="glyphicon glyphicon-edit" />
                </a>




                @*<button type="button" class="btn btn-danger .btn-md">  @Html.ActionLink("Delete", "Delete", new { id = item.Id })</button>*@

                <a href="@Url.Action("Delete", "Reviews", new { id = item.Id })" class="btn btn-danger">
                    Delete
                    <span class="glyphicon glyphicon-minus-sign" />
                </a>



            </td>
        </tr>
    }

</table>